<h1>スケジュール一覧</h1>

<div class="container-xl">
  <table>
    <thead>
      <tr>
        <th>登録番号</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日設定</th>
        <th>メモ</th>
        <th>作成日</th>
        <th>更新日</th>
        <th>操作</th>
      </tr>
    </thead>
    <br>
    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.id %></td>
          <td><%= schedule.title %></td>
          <td><%= schedule.start_day %></td>
          <td><%= schedule.end_day %></td>
          <td>
            <% if schedule.all_day %>
              ⚪︎
            <% end %>
          </td>
          <td><%= schedule.memo %></td>
          <td><%= schedule.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
          <td><%= schedule.updated_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
          <td>
            <%= link_to "変更", edit_path(id: schedule.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>